.catalogContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 16px;
  margin: 0 auto;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.catalogScrollArea {
  flex-grow: 1;
  overflow-y: auto;
  padding: 16px;
  margin-top: 16px;
  border-top: 1px solid #ccc;
}
