.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;

  width: 100%;
  max-width: 1440px;
  min-height: 100vh;

  margin: 0;
  padding: 0 16px 60px; /* верх/горизонтальні/низ */

  font-family: "Manrope", sans-serif;
  line-height: 1.6;

  background-image: url(../../../public/image/heroBackground.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

h1 {
  font-size: 50px;
  margin: 0;
  color: #ffffff;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 25px; */
  border-bottom: 1px solid #2a363b;
  position: sticky; /*або fixed */
  top: 0;
  background-color: #f2f4f7;
  padding: 16px;
}
.text {
  font-size: 22px;
  line-height: 1.33333;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .homeContainer {
    padding: 80px 24px 60px;
  }
  h1 {
    font-size: 50px;
  }
  .text {
    font-size: 22px;
  }
}

@media (min-width: 1440px) {
  .homeContainer {
    padding: 120px 120px 60px;
  }
  h1 {
    font-size: 60px;
  }
  .text {
    font-size: 24px;
  }
}
